<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>qrHunt</title>
    <link rel="stylesheet" href="/base/style.css">
</head>
<body>
    <nav>
        <div class="logo">QrHunt</div>
        
        {% if current_user.is_authenticated %}
        <div class="logout"><a href="{{url_for('logout')}}">Logout</a></div>
        <div class="tmName">{{current_user.name}}</div>
        {% else %}
        <div class="login"><a href="{{url_for('login')}}">Login</a></div>
        {% endif %}
    </nav>
    <div class="content">
    {% block content %}{% endblock %}
    </div>
</body>
</html>